.App {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  padding-block: 1rem;
}

.App-goal-section {
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}
